.animate_animated.animate__fadeIn {
    --animate-duration: 2.5s;
    margin-bottom: 150px;
    background: white;
    border: 1px, white, solid;
}

/* .border {
    --animate-duration: 2.5s;
    margin-bottom: 150px;
    background-color: white;
    border: 1px, solid, black;
} */

h2, h3 {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: black;
}

.intro {
    text-align: center;
    margin-top: 25px;
    color: lightgoldenrodyellow;
  
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

body {
    background-color: black;
    
}

.grid-container{
    border-radius: 16px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;

}

.grid-item {
    border : 2px solid white;
    padding: 15px;
    text-align: center;
    opacity: .30;

}

.grid-item:hover {
    opacity: 1;
    background-color: black;
}

img {
height: 230px;
width: 210px;
}

video {
display: block;
margin: 0 auto;
}

/* a {
display: inline-block;
margin: 0 auto;
text-align: center;    
} */

.fruit{
display: block;
margin: 0 auto;
height: 300px;
width: 500px;
}

.fruit1 {
    display: block;
    margin: 0 auto;
    max-height: 370px;
    max-width: 220px;
    height: auto;
    width: auto;
}

.nav-item {
padding-top: 45px;
display: inline-flex;
text-align: center;
}



h4 {
margin-top:  150px;
margin-left: 150px;
}


#node {
height: 180px;
width: 180px;
border-radius: 10px;

}

#flask {
    height : 180px;
    width: 250px;
    border-radius: 10px;
}

#js {
    height: 180px;
    width: 198px;
    border-radius: 10px;

}

.package {
    border-radius: 10px;
    width: 180px;
    height: 200px;
    padding : 30px;
    display: flex;
}

.react {
    height: 180px;
    width:200;
}




.title{
    font-size: 28px;
    padding-bottom: 100px;
    color: lightgoldenrodyellow;
    margin-left: 170px;
    margin-right: 170px;
    text-align: center;
}

.endline {
    padding-top: 100px;
    color: black;
    font-size: 28px;
}

.email {
    color: black;
    padding-top: 100px;
}

.text, .text1 {
    color: black;
    display: block;
}

.text{
    margin-top: 35px;
}

.links {
    padding-left: 125px;
}

.effect {
    border-radius: 20px;
    color : white;
    padding-left: 135px;
    padding-right: 135px;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5), inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 0px 0px 20px 10px black;
    --animate-duration: 2s;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;
    display: flexbox;
    grid-row: auto;
}

video {
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.navbar-nav {
    margin-top: 20px;
    justify-content: space-between;

}

.text1, text {
color:lightgoldenrodyellow;
display: block;
}

span {
    color: red;
    font-size: 28px;

}

a:hover {
    color: red;
    text-decoration: none;
}

.techstack {
    /* animation: animate__fadeInDown;
    animation-duration: 2s; */
    padding-bottom: 30px;
    background-color: white;
    border-radius: 16px;
    border: 2px black solid;
    margin-left: 300px;
    margin-right: 300px;
}

.no-indent {
    font-family: 'Trebuchet MS';
    display: block;
    color: lightgoldenrodyellow;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}

.indent {
    font-family: 'Trebuchet MS';
    display: block;
    color: lightgoldenrodyellow;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 70px;
}

.indent-1 {
    font-family: 'Trebuchet MS';
    display: block;
    color: lightgoldenrodyellow;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 40px;
}

.icon {
    height: 40px;
    width: 40px;
    margin-right: 20px;

}

@media (max-width: 500px) {
    .animate__animated.animate__fadeInDown {
    --animate-duration: 2.5s;
    margin-bottom: 150px;
    border: white, 1px, solid;
    width: 90%;
    background: white;
    border-radius: 16px;
    }
    }

@media (max-width: 500px) {
    #navbar-1 {
        display: flex;
    }
}

.timeline {
    width: 90%;
    text-align: center;
    margin-left: 90px;
    margin-top: 200px;
}

.headline {
    text-align: center;
    color: red;
    display:inline;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.excerpt {
    margin-right: 40px;

    margin-top: 25px;
    display: flex;
    text-align: center;
}

.background {
    background-color: black;
    padding-bottom: 90px;
}

.beneath {
    background-color: black;
}

.email {
    color: white;
}

.technology {
    display: flex;
    color: lightgoldenrodyellow;
}

.learned {
    display: flex;
}

.photos {
    grid-row: inherit;
    display: flex;
    text-align: center;
}

.frameworks {
    display: inline-block;
    margin-left: 130px;
    margin-bottom: 50px;
}

.other {
    margin-top: 30px;
    color: black;
    font-weight:100px;
}

#me {
    border-radius: 20px;
    height: 200px;
    width: 180px;
    margin-right: 50px;
}

.contacts {
    display: inline-flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    margin-top: 25px;
    display: inline-flex;
    text-align: center;
    margin-left: 30px;
}