.bg {
    width: 100%;
    background: linear-gradient(to bottom, #002D62, #002D62, #0066b2, #002D62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bubble {
    position: relative;
    top: 60px;
    font-size: 30px;
    background: linear-gradient(to right, darkgray, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bubble-1 {
    margin: 100px;
    margin-left: 150px;
    font-size: 30px;
    background: linear-gradient(to right, darkgray, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, san-serif;
    font-size: 24px;
    width: 30%;
    flex-wrap: wrap;
    position: relative;
    bottom: 2600px;
    text-align: center;
}

.bg {
    background-position: center;
    width: 100%;
}

.intro {
    margin-top: 60px;
    margin-left: 60px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    font-family: Verdana, sans-serif;
    display: flex;
    flexDirection: row;
    padding: 20px;
    
}

.under {
    margin-left: 40px;
    display: block;
    flexDirection: column;
    font-family: Verdana, san-serif;
    font-size: 24px;
    margin-top: 35px;
}

.me {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.name {
    font-weight: 600;
    padding-bottom: 6px;
    font-size: 30px;
    background: linear-gradient(to right, gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons, .icon-links {
    display: flex;
    padding-right: 20px;
    flexDirection: column;
    height: 50px;
    width: 50px;
}

.icon-links {
    position: relative;
    left: 320px;
    bottom: 95px;
}

.body-1 {
    width: 400px;
    height: 400px;
    padding: 20px;
    font-family: Verdana, san-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 120px;
    margin-top: 30px;
    /* border: 2px solid white;
    border-radius: 50%; */
}

h3 {
    font-weight: 100;
    font-family: Verdana, san-serif;
    font-size: 24px;
    background: linear-gradient(to right, teal, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.yellow {
    background: linear-gradient(to right, teal, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.green {
 
    background: linear-gradient(to right, teal, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.red {
 
    background: linear-gradient( to right, teal, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects {
    position: relative;
    left: 750px;
    bottom: 500px;
    margin-top: 80px;
    border: 2px 2px 2px 2px white solid;
    border-radius: 12px;
    
}

.container {
    /* border: solid 1px black; */
    border-radius: 14px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    width: 500px;
    height: 430px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, gray, silver, gray);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
}

.container-1 {
    /* border: solid 1px black; */
    border-radius: 14px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    width: 500px;
    height: 430px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, gray, silver, gray);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
}

.title {
    text-align: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: Verdana, san-serif;
    background: linear-gradient(to right, #D3D3D3, #E5E4E2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.arrange {
    display: block;
    flexDirection: row;
}

.project-image {
    width: 400px;
    height: 300px;
    border-radius: 12px;

}

.photo-project-1 {
    height: 250px;
    width: 180px;
    border-radius: 12px;
}

video {
    text-align: center;
    margin-left: 0px;

}

.progress {
    text-decoration: none;
    font-family: Verdana, san-serif;
    color: royalblue;
    margin-top: 60px;
    background: linear-gradient(to right, royalblue, skyblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress:hover {
    background: linear-gradient(to right, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title-1 {
    font-family: Verdana, san-serif;
    margin-top: 160px;
    vertical-align: middle;
    padding-bottom: 30px;
    font-size: 30px;
    background: linear-gradient(to right, #D3D3D3, #E5E4E2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-link:hover {
    background: linear-gradient(to right, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.copyright {
    font-family: Verdana, san-serif;
    font-size: 15px;
    text-align: center;

    background: linear-gradient(to right, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}

progress {
    width: 400px;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to right, red, orchid);
    -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
}

.progress {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: left;
    background: linear-gradient(to bottom, red, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.progress-2 {
    text-align: center;
    background: linear-gradient(to bottom, red, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px; 
}

#skills {
    width: fit-content;
    font-size: 20px;
    background: linear-gradient(to bottom, black, darkgray);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

#bar {
    font-size: 15px;
    margin-left: 90px;
    margin-top: 150px;
    border-radius: 14px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    width: 550px;
    height: fit-content;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, gray, silver, gray);
    -webkit-text-fill-color: transparent; 
    position: relative;
    bottom: 2650px;

}
  
label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
  }

h3 {
    background: linear-gradient(to bottom, #6495ED, #89CFF0);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.w3-border {
    background: linear-gradient(to right, gray, white)
}

.w3-red {
    background: linear-gradient(to right, orange, yellow);
    /* -webkit-background-clip: text;  */
    -webkit-text-fill-color: transparent; 
}

.body-2 {
    position: relative;
    bottom: 2600px;
    border-radius: 14px;
    margin-left: 90px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    width: 550px;
    height: fit-content;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, gray, silver, gray);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 

}

.bubble-2 {
    background: linear-gradient(to right, teal, turquoise);
    -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
    font-family: Verdana, san-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 35px;
    margin-top: 35px;

}

.bubble-3 {
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
    font-family: Verdana, san-serif;
    font-size: 25px;
    text-align: left;
    margin-left: 35px;
    margin-top: 35px;
}


@media only screen and (min-device-width : 320px ) and (max-device-width: 480px) {

.bg {
    width: 100%;
}

.me {
    margin-left: -70px;
    height: 120px;
    width: 120px;
}

.intro {
    width: 430px;
}
.under {
    width: 200px;
    flex-wrap: wrap;
}
.name {
    width: 100%;
    display: inline-block;
    flexDirection: row;
    position: relative;
    bottom: 70px;
}

.projects {
    position: relative;
    bottom: 310px;
    left: 10px;
    text-align: center;
    padding-top: -50px;
}

.container {
    text-align: center;
    width: 350px;
    height: fit-content;
    margin-bottom: 50px;
}

.bio {
    width: 430px;
    position: relative;
    right: 130px;
    bottom: 170px;
    flex-wrap: wrap;
    width: fit-content;
    
}

.bubble {
    flex-wrap: wrap;
    font-size: 22px;
}

.body-1 {
    margin-top: 0px;
    margin-bottom: 60px;
}
.project-image {
    width: 300px;
    height: 280px;
}

#title-1, .progress {
    vertical-align: middle;

    
}

.container-1 {
    text-align: center;
    width: 370px;
    height: 370px;
    margin-bottom: 50px;
    border-radius: 14px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 60px;
    background: linear-gradient(to bottom, gray, silver, gray);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
}

#bar {
    font-size: 10px;
    margin-left: 10px;
    margin-top: -260px;
    border-radius: 14px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    width: 350px;
    height: fit-content;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, gray, silver, gray);
    //-webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 

}

.bubble-1 {
    margin: 40px;
    font-size: 20px;
    background: linear-gradient(to right, darkgray, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana, san-serif;
    width: 100%;
    flex-wrap: wrap;

}

.body-2 {
    border-radius: 14px;
    margin-left: 10px;
    box-shadow: 5px 10px 25px;
    margin-bottom: 30px;
    width: 350px;
    height: fit-content;
    text-align: center;
    padding: 30px;
    background: linear-gradient(to bottom, gray, silver, gray);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 

}

.bubble-2 {
    background: linear-gradient(to right, teal, turquoise);
    -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
    font-family: Verdana, san-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 35px;
    margin-top: 20px;

}

.bubble-3 {
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent; 
    font-family: Verdana, san-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 35px;
    margin-top: 35px;
}
.copyright {
    font-family: Verdana, san-serif;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to right, orange, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    margin-bottom: 30px;
}

.icons, .icon-links {
    display: flex;
    padding-right: 20px;
    flexDirection: column;
    height: 30px;
    width: 30px;
}

.icon-links {
    position: relative;
    left: 370px;
    bottom: 235px;
    flex-wrap: wrap;
    padding: 12px;
}

.name {
    font-weight: 300;
    padding-bottom: 12px;
    font-size: 22px;
    background: linear-gradient(to right, gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro {
    margin-top: 45px;
    margin-left: 60px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    font-family: Verdana, sans-serif;
    display: flex;
    flexDirection: row;
    padding: 20px;
    
}

.under {
    margin-left: 20px;
    display: block;
    flexDirection: column;
    font-family: Verdana, san-serif;
    font-size: 18px;
    margin-top: 65px;
}

.me {
    height: 120px;
    width: 120px;
    border-radius: 50%;

}
}
