.animate_animated.animate__fadeIn {
    --animate-duration: 2.5s;
    margin-bottom: 150px;
}

#navbar-1 {
    color: aqua;
}

h2, h3, a {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: lightgoldenrodyellow;
}

.intro {
    margin-top: 25px;
    color: lightgoldenrodyellow;
    text-align: center;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

body {
    background-image: url('./media/developer.png');
}

.grid-container{
    border-radius: 16px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;

}

.grid-item {
    border : 2px solid white;
    padding: 15px;
    text-align: center;
    opacity: .30;
}

.grid-item:hover {
    opacity: 1;
    background-color: black;
}

img {
height: 230px;
width: 210px;
}

video {
display: block;
margin: 0 auto;
}

a {
display: inline-block;
margin: 0 auto;
text-align: center;    
}

.fruit{
display: block;
margin: 0 auto;
height: 300px;
width: 500px;

}


li.nav-item{
position: relative;
margin-left: 80px;
font-family: 'Trebuchet MS';
font-size: 21px;
color: lightgoldenrodyellow;
}

.nav-link {
    font-size: 21px;
    color: lightgoldenrodyellow;
    font-family: 'Trebuchet MS';
}

.nav-item-right, .navbar-brand {
  font-family: 'Trebuchet MS';
  font-size: 21px;
  color: lightgoldenrodyellow;
  margin-left: 40px;
}

h4 {
margin-top:  150px;
margin-left: 150px;
}


#node {
height: 230px;
width: 230px;
border-radius: 10px;

}

#flask {
    height : 230px;
    width: 300px;
    border-radius: 10px;
}

#js {
    height: 230px;
    width: 248px;
    border-radius: 10px;

}

.package {
    border-radius: 10px;
    padding : 30px;
    display: inline-flexbox;
}

#plus {
    height: 100px;
    width: 90px;

}

#equals{
    height: 90px;
    width : 80px
}

.title{
    font-size: 28px;
    padding-bottom: 100px;
    color: lightgoldenrodyellow;
    margin-left: 170px;
    margin-right: 170px;
    text-align: center;
}

.endline {
    padding-top: 100px;
    color: lightgoldenrodyellow;
    font-size: 28px;
}

.email {
    color: lightskyblue;
    padding-top: 100px;
}

.text, .text1 {
    color: lightgoldenrodyellow;
    display: block;
}

h1.text{
    padding-top: 15px;
}

.links {
    padding-left: 125px;
}

.animate__animated.animate__fadeInDown {
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
    color : white;
    padding-left: 150px;
    padding-right: 150px;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.5), inset -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 0px 0px 20px 10px black;
    --animate-duration: 2s;
    background-color: white;
}

video {
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.navbar-nav {
    width: 100%;
}

.text1, text {
color:lightgoldenrodyellow;
display: block;
}

p, span {
    color: red;
    font-size: 28px;

}

a:hover {
    color: red;
    text-decoration: none;
}

.techstack {
    /* animation: animate__fadeInDown;
    animation-duration: 2s; */
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 16px;
    margin-top: 200px;
    border: 2px black solid;
    margin-left: 300px;
    margin-right: 300px;
}

.no-indent {
    font-family: 'Trebuchet MS';
    display: block;
    color: black;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}

.indent {
    font-family: 'Trebuchet MS';
    display: block;
    color: black;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 70px;
}

.indent-1 {
    font-family: 'Trebuchet MS';
    display: block;
    color: black;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 40px;
}

.icon {
    height: 40px;
    width: 40px;
}
